* {
/*  border: thin solid blue;*/
  font-family: sans-serif; 
  font: Helvetica;
  font-weight: 200;
}

div {
  background-color: white;
}

.pad-15 {
  padding: 15px
}

.clearfix::after {
  clear: both;
  content: '';
  display: block;
}

.content {
  width: 70%;
  margin: 5% auto;
  padding: 10px;
  background-color: lightgrey;
}

.avatar {
  width: 80px;
  padding: 5px;
}

.avatar-div {
  float: left;
  border: 2px solid blue;
}

.post {
  background-color: lightgrey;
}

.post-content {
  margin: 3px 0 10px 0;
}

.caption {
  height: 60px;
  float: left;
  color: blue;
  font-weight: bold;
}

.subtle-time {
  display: block;
  color: grey;
}